<div class="flex">
  <div class="flex-item">
    <div style="display: block;">
    <p>Market Summary > {{ chartTitle }}</p>
    <canvas baseChart width="400" height="150"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
    </canvas>
    </div>
  </div>
</div>
